<template>

<section id="area-list">
    <div class="panel panel panel-info">
        <div class="panel-heading">Datos de la pregunta {{question_id > 0 ? "#" + question_id : ""}}</div>
        <div v-if="question != null" class="panel-body">
            <form class="text-black" v-on:submit.prevent="save_question()"  method="post" id="form_question" autocomplete="off">
                <div v-if="errorsQ != null" class="form-group row">
                    <label  class="col-sm-2 text-danger col-form-label"></label>
                    <div class="col-sm-10">
                        <div class="alert alert-danger">
                        <p  v-for='(error, indexError) in errorsQ' >* {{error}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="number_questions"  class="col-sm-4 text-danger col-form-label">Tipo de pregunta:*</label>
                    <div class="col-sm-8">
                        <input type="radio" id="type1" value="1" v-model="question.type">
                            <label cl for="type1 ">Opción multiple</label>
                           
                            <input type="radio" id="type2" value="2" v-model="question.type">
                            <label for="type2">Ordenamiento</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="number_questions"  class="col-sm-4 text-danger col-form-label">Area:*</label>
                    <div class="col-sm-8">
                        <select  class="form-control" v-model="question.area_id">
                            <option v-for="option in areas" v-bind:value="option.id">
                                {{ option.name }}
                            </option>
                        </select>
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="number_questions"  class="col-sm-4 text-danger col-form-label">Enunciado de la pregunta:*</label>
                    <div class="col-sm-8">
                        <textarea required v-model="question.questions" class="form-control" rows="2"   ></textarea >
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="attempts" class="col-sm-4 text-danger col-form-label">{{question.type == 1 ? "Respuesta pregunta" :"Opción 1"}}:*</label>
                    <div class="col-sm-8">
                        <textarea required v-model="question.options.option1.enunciate" class="form-control" rows="1"   name="attempts" ></textarea >

                    </div>
                </div> 
                <div class="form-group row">
                    <label for="attempts" class="col-sm-4  col-form-label">Opción 2:*</label>
                    <div class="col-sm-8">
                            <textarea v-model="question.options.option2.enunciate"  class="form-control" rows="1"  ></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="attempts" class="col-sm-4 col-form-label">Opción 3:*</label>
                    <div class="col-sm-8">
                        <textarea  v-model="question.options.option3.enunciate"  class="form-control" rows="1"  ></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="attempts" class="col-sm-4 col-form-label">Opción 4:*</label>
                    <div class="col-sm-8">
                            <textarea v-model="question.options.option4.enunciate"  class="form-control" rows="1"  ></textarea>
                    </div>
                </div>                                 
                    <div class="text-right">   
                        <a if="ref != null" :href="'/'+ref" type="buttom" :disabled="saving"   class="btn btn-info">Volver</a>
                     
                        <button type="submit" :disabled="saving" class="btn btn-primary">Guardar</button>
                </div>
                <hr>                                                               
            </form>
        </div>
    </div>
</section>
</template>

<script>
   export default {
       props: ["question_id"],
       data() {
            return { 
                errorsQ:null,  
                saving:false, 
                areas:[], 
                question:null, 
                ref:null,         
                /*question:{                    
                    id:-1,
                    area_id:1,
                    type:1,
                    questions:"",  
                    options:{                 
                        option1:{
                            id:-1,
                            enunciate:"",
                            answer:true
                        },
                        option2:{
                            id:-1,
                            enunciate:"",
                            answer:false,
                            show:true
                        },
                        option3:{
                            id:-1,
                            enunciate:"",
                             answer:false,
                             show:true
                        },
                        option4:{
                            id:-1,
                            enunciate:"",
                            answer:false,
                             show:true                     
                        },
                        option5:{
                            id:-1,
                            enunciate:"",
                            answer:false,
                             show:true                       
                        },
                        option6:{
                            id:-1,
                            enunciate:"",
                            answer:false,
                            show:false                      
                        },
                        option7:{
                            id:-1,
                            enunciate:"",
                            answer:false,
                            show:false                       
                        },
                    }
                }   */             
            }
        },
        mounted() {
            this.set_reset_data();
            if(this.question_id > 0){
                this.get_question(this.question_id)                
            }
            this.get_areas();
            let param = this.getParams();
            this.ref = param["ref"];

        },        
        methods: {
            get_areas(){
                axios.get(`/admin/questions/get-areas`,{}).then(resp => {
                    this.areas = resp.data.areas;                    
                })
            },
            getParams ()
            {
                var result = {};
                var tmp = [];
                location.search
                    .substr (1)
                    .split ("&")
                    .forEach (function (item)
                    {
                        tmp = item.split ("=");
                        result [tmp[0]] = decodeURIComponent (tmp[1]);
                    });
                    return result;
            },
            set_reset_data(){
                this.question = {                    
                    id:-1,
                    area_id:null,
                    type:1,
                    questions:"",  
                    options:{                 
                        option1:{
                            id:-1,
                            enunciate:"",
                            answer:true
                        },
                        option2:{
                            id:-1,
                            enunciate:"",
                            answer:false,
                            show:true
                        },
                        option3:{
                            id:-1,
                            enunciate:"",
                             answer:false,
                             show:true
                        },
                        option4:{
                            id:-1,
                            enunciate:"",
                            answer:false,
                             show:true                     
                        },
                        option5:{
                            id:-1,
                            enunciate:"",
                            answer:false,
                             show:true                       
                        },
                        option6:{
                            id:-1,
                            enunciate:"",
                            answer:false,
                            show:false                      
                        },
                        option7:{
                            id:-1,
                            enunciate:"",
                            answer:false,
                            show:false                       
                        },
                    }
                } 
            },
            save_question(){
                this.saving = true;   
                
                axios.post(`/admin/questions/create-question/${this.question.id}`,this.question).then(resp => {
                    this.saving = false;
                    if(resp.data.success){                        
                        toastr.success('Registro guardado', 'exito');  
                        this.set_reset_data();
                        this.question_id = -1;             
                    }else{
                        toastr.error('Error al guardar', 'error');
                    }
                }).catch(error => {
                    this.saving = false;
                    toastr.error('Error al guardar', 'error');
                    if(error.response.status == 422){
                        let errors = error.response.data.errors;
                        let er = [];
                        if(errors != null){
                            for (const key in errors) {
                                let error = errors[key];
                                for (const key2 in error) {
                                    er.push(error[key2]);
                                }
                            }
                        }
                        this.set_errorQ(er);
                    }
                });
            },
            get_question(id){
                axios.get(`/admin/questions/get-question/${id}`,{}).then(resp => {
                   this.get_questions_format_1(resp.data.options, resp.data.question); 
                                     
                }).catch(error => {});
            },
            /** armamos obj de pregunta y opciones */
            get_questions_format_1(options, question){
                this.question.id = question.id;
                this.question.area_id = question.area_id;
                this.question.type = question.type;
                this.question.questions = question.questions;
                
                let q = 1;
                if(question.type == 1){
                    for (const key in options){                        
                        if(options[key].id == question.answer_id){
                            this.question.options["option1"] ={
                                id:options[key].id,
                                enunciate:options[key].enunciate,
                                answer:true,
                                show:true
                            }
                        }else{
                            q ++;
                            this.question.options["option" +q] ={
                                id:options[key].id,
                                enunciate:options[key].enunciate,
                                answer:false,
                                show:true
                            }                        
                        }
                    }
                }else{
                    for (const key in options){                        
                        this.question.options["option" +q] ={
                            id:options[key].id,
                            enunciate:options[key].enunciate,
                            answer:false,
                            show:true
                        }
                        q ++;
                            
                    }   
                }
                return data;

            },
            set_errorQ(error = null){
                this.errorsQ = error;
                setTimeout(()=>{
                    this.errorsQ = null
                },8000);
            }
        }
    }
</script>
