<template>

<section id="course-list">
    <div class="panel panel panel-info">
        <div class="panel-heading">Curso: <strong> {{this.name_course}} </strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <div class="btn-group" role="group" >
                            <a type="button" v-on:click="new_leve()" class="btn btn-default btn-xs" ><i class="fa fa-plus-circle"></i> Crear nivel</a>
                        </div>
                    </div>
                </div>
            </div>

            <div style="padding-top: 10px;">
                <div class="panel-group" id="accordionLevels">
                    <div v-for='(leve, indexLevel) in levels' class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordionLevels" :href="'#level-'+indexLevel" class="collapsed" aria-expanded="false">
                                    <span class="question">Nivel: {{leve.order}}</span>
                                </a>
                            </h4>
                        </div>
                        <div :id="'level-'+indexLevel" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <div class="btn-group" role="group" >
                                                <a v-on:click="new_lesson(leve.id)" type="button" class="btn btn-default btn-xs" ><i class="fa fa-plus-circle"></i> Leciones</a>
                                                <a v-on:click="delete_leve(leve)" :title="'Elimina el nivel ' +leve.order" type="button" class="btn btn-default btn-xs" ><i class="fa fa-trash"></i> Eliminar nivel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="padding-top: 10px;" class="panel-group" id="accordionlessons">
                                    <div v-for='(lesson, indexlesson) in leve.lessons' class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordionlessons" :href="'#lesson-'+indexlesson+''+indexLevel" class="collapsed" aria-expanded="false">
                                                    <span class="question">Lección: {{lesson.order}}</span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div :id="'lesson-'+indexlesson+''+indexLevel" class="panel-collapse collapse" aria-expanded="false">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="pull-right">
                                                            <div class="btn-group" role="group" >
                                                                <a v-on:click="new_video(lesson.id)" type="button" class="btn btn-default btn-xs" ><i class="fa fa-plus-circle"></i> Vídeo</a>
                                                                <a v-on:click="show_audio(lesson.id)" type="button" class="btn btn-default btn-xs" ><i class="fa fa-plus-circle"></i> Audio</a>
                                                                <a v-on:click="new_pdf(lesson.id)" type="button" class="btn btn-default btn-xs" ><i class="fa fa-plus-circle"></i> Infografía</a>
                                                                <a v-on:click="show_test(lesson.id)" type="button" class="btn btn-default btn-xs" ><i class="fa fa-plus-circle"></i> Test</a>
                                                                <a v-on:click="delete_lesson(lesson)" :title="'Elimina la lección ' +lesson.order" type="button" class="btn btn-default btn-xs" ><i class="fa fa-trash"></i> Eliminar lección</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div v-for='(activity, indexActivity) in lesson.activities'  class="section-content">
                                                    <div class="professors">
                                                        <article class="professor-thumbnail">
                                                            <figure class="professor-image">
                                                                <a v-on:click="show_activity(activity)" type="button">
                                                                    <img v-if="activity.type == 1" style="max-width: 80px;" src="/assets/img/video.png" >
                                                                    <img v-if="activity.type == 2" style="max-width: 80px;" src="/assets/img/pdf.png" >
                                                                    <img v-if="activity.type == 3" style="max-width: 80px;" src="/assets/img/test.png" >
                                                                    <img v-if="activity.type == 4" style="max-width: 80px;" src="/assets/img/audio.png" >
                                                                </a>
                                                            </figure>
                                                            <aside>
                                                                <header>
                                                                    <a type="button">{{indexActivity +1}}</a> - 
                                                                    <a type="button">{{activity.name}}</a>
                                                                    <div class="divider"></div>
                                                                    <figure class="professor-description text-black">{{activity.description}}</figure>
                                                                </header>
                                                                
                                                                <a v-if="activity.type == 3" type="button" v-on:click="get_test(activity.id,lesson.id)" class="show-profile"><i class="fa fa-edit"></i>Editar</a>
                                                                <a v-if="activity.type != 3" type="button" v-on:click="get_activity(activity.id,lesson.id)" class="show-profile"><i class="fa fa-edit"></i>Editar</a>
                                                                <a type="button" v-on:click="delete_activity(activity.id,lesson.id)" class="show-profile"><i class="fa fa-trash"></i>Eliminar</a>
                                                            </aside>
                                                        </article> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>        
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalNewLeves" tabindex="-1" role="dialog" aria-labelledby="modalAreasLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header"></div>
                
                <div class="modal-body">
                        <h4 class="text-black ">¿Quieres agregar un nuevo nivel?</h4>        
                        <div class="text-center">
                            <hr>
                            <button type="button" v-on:click="create_leve()" class="btn btn-danger btn-xs">Si</button>
                            <button type="button" data-dismiss="modal" class="btn btn-primary btn-xs">No</button>
                        </div>                    
                </div>      
            </div>
        </div>
    </div>

   
    <div class="modal fade" id="modalNewlesson" tabindex="-1" role="dialog" aria-labelledby="modalAreasLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header"></div>
                
                <div class="modal-body">
                        <h4>¿Quieres agregar una nueva lección?</h4>        
                        <div class="text-center">
                            <hr>
                            <button type="button" v-on:click="create_lesson()" class="btn btn-danger btn-xs">Si</button>
                            <button type="button" data-dismiss="modal" class="btn btn-primary btn-xs">No</button>
                        </div>                    
                </div>      
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalNewlesson" tabindex="-1" role="dialog" aria-labelledby="modalAreasLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header"></div>
                
                <div class="modal-body">
                        <h4>¿Quieres agregar una nueva lección?</h4>        
                        <div class="text-center">
                            <hr>
                            <button type="button" v-on:click="create_lesson()" class="btn btn-danger btn-xs">Si</button>
                            <button type="button" data-dismiss="modal" class="btn btn-primary btn-xs">No</button>
                        </div>                    
                </div>      
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalShowFile" tabindex="-1" role="dialog" aria-labelledby="modalAreasLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div v-if="activity_show != null">
                        <div v-if="activity_show.type == 2">
                            <iframe :src="activity_show.file_url" frameborder="0" style="width:100%; height:700px;"></iframe>
                        </div>

                        <div v-if="activity_show.type == 1">
                            <video :src="activity_show.file_url" style="width: 100%" controls ></video>
                        </div>
                         <div class="text" v-if="activity_show.type == 4">
                             <audio controls :src="activity_show.file_url" >
                                    Su navegador no es compatible con el ememento <code>audio</code>.
                            </audio>
                        </div>
                    </div>             
                </div>      
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalNewFile" tabindex="-1" role="dialog" aria-labelledby="modalAreasLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >
                        {{ activity.type == 1 ? "Gestionar vídeo" : (activity.type == 2 ?"Gestionar infografía" : "Gestionar audio") }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div class="panel panel panel-info">
                        <div class="panel-heading">Datos de la actividad </div>
                        <div class="panel-body">
                            <form v-on:submit.prevent="save_activity()"  enctype="multipart/form-data" action="admin/courses/save-course/" method="post" autocomplete="off">                                
                                  
                                    <div v-if="errors != null" class="form-group row">
                                        <label for="name" class="col-sm-3 text-danger col-form-label"></label>
                                       <div class="col-sm-9">
                                            <div class="alert alert-danger">
                                               <p  v-for='(error, indexError) in errors' >* {{error}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-3 text-danger col-form-label">Titulo:*</label>
                                        <div class="col-sm-9">
                                            <input required v-model="activity.name" type="text" class="form-control-plaintext" name="name">                                
                                        </div>
                                    </div>
                                                            
                                    <div class="form-group row">
                                        <label for="description" class="col-sm-3 text-danger col-form-label">Descripción:*</label>
                                        <div class="col-sm-9">
                                            <textarea required v-model="activity.description"  class="form-control" rows="10"  required name="description" id="description"></textarea >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="file" class="col-sm-3 col-form-label  " v-bind:class="{ 'text-danger': activity_id < 0 }">
                                                <span v-if="activity.type == 1" >Vídeo (100MG max):*</span>
                                                <span v-if="activity.type == 2">Docuemento (10MG max):*</span>
                                                <span v-if="activity.type == 4">Audio (10MG max):*</span>
                                            </label>
                                        <div class="col-sm-9">
                                            <input :required="activity_id < 0" @change="handleFileUpload( $event )" :accept="activity.type == 1 ? acceptVideo : (activity.type == 2 ? acceptDoc: acceptAudio)"
                                                id="file1"  type="file" class="form-control"  name="file" >                               
                                        </div>
                                    </div>                                   
                                    <div id="loader-d" v-if="saving" style="text-align: center;">
                                        <div class="preloader-sm"> </div>  
                                        Cargando...
                                    </div>
                                    <div class="text-right">   
                                                           
                                        <button type="submit" :disabled="saving" class="btn btn-primary">Guardar</button>
                                    </div>
                            </form>
                        </div>
                    </div>             
                </div>      
            </div>
        </div>
    </div>

   <div class="modal fade" id="modalTest" tabindex="-1" role="dialog" aria-labelledby="modalAreasLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >
                        Gestión de test
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div class="panel panel panel-info">
                        <div class="panel-heading">Configuración</div>
                        <div class="panel-body">                           
                            <form v-on:submit.prevent="save_test()"  method="post" autocomplete="off">
                                <div v-if="errors != null" class="form-group row">
                                    <label  class="col-sm-4 text-danger col-form-label"></label>
                                    <div class="col-sm-8">
                                        <div class="alert alert-danger">
                                        <p  v-for='(error, indexError) in errors' >* {{error}}</p>
                                        </div>
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label for="number_questions" class="col-sm-4 text-danger col-form-label">Título:*</label>
                                    <div class="col-sm-8">
                                        <input required v-model="test.name" type="text" class="form-control-plaintext" name="name">                                
                                    </div>
                                </div> 
                                <div class="form-group row">
                                    <label for="number_questions"  class="col-sm-4 col-form-label">Descripcióna:*</label>
                                    <div class="col-sm-8">
                                        <textarea  class="form-control" v-model="test.description" rows="3"   name="description" ></textarea >

                                    </div>
                                </div> 
                                <div class="form-group row">
                                    <label for="number_questions" title="Cantidad de preguntas que se muestran por cada intento que realiza el estudiante" class="col-sm-4 text-danger col-form-label">Cantidad preguntas:*</label>
                                    <div class="col-sm-8">
                                        <input required v-model="test.number_questions" type="text" class="form-control-plaintext" name="number_questions">                                
                                    </div>
                                </div> 
                                 <div class="form-group row">
                                    <label for="number_questions" title="Porcentaje de preguntas que debe responder bien el estudiante para aprobar el test" class="col-sm-4 text-danger col-form-label">% de aceptación:*</label>
                                    <div class="col-sm-8">
                                        <input required v-model="test.porcent_acceptance" type="number" class="form-control-plaintext" name="porcent_acceptance">                                
                                    </div>
                                </div> 
                                <!--<div class="form-group row">
                                    <label for="attempts" class="col-sm-4  col-form-label">Números de intentos:*</label>
                                    <div class="col-sm-8">
                                        <input  v-model="test.trial_numbers" type="text" class="form-control-plaintext" name="trial_numbers">                                
                                    </div>
                                </div>-->  
                                    <div class="text-right">                        
                                    <button type="submit" :disabled="saving" class="btn btn-primary">
                                       {{test.id > 0 ? 'Guardar config' :'Crear'}}</button>
                                </div>  
                            </form>
                        </div>
                    </div>
                    <div  v-if='test.id > 0' class="panel panel panel-info">
                        <div class="panel-heading">Preguntas </div>
                        <div class="panel-body">                           
                                
                               <div>
                                    <div>
                                        <a  type="button" v-on:click="handleBlur()" ><i class="fa fa-trash "></i> Limpiar</a>
                                        &nbsp;&nbsp;
                                        <a  :href="'/admin/questions/question-view/-1?ref=admin/courses/courses-manage/'+course_id"  ><i class="fa fa-list "></i> Crear pregunta</a>
                                        <hr>
                                    </div>
                                    <input  autocomplete="off" v-model.trim="searcher" @keyup="change_searcher()" id="searcher_id" type="text" class="form-control" placeholder="Ingresar una una palabra para buscaré" aria-describedby="basic-addon2">
                                    <div  v-if="searcher_q.length > 0" style="position: absolute;margin-top: 1px;margin-left: 2px;z-index: 9000;background-color: #dbdbdf;max-height: 300px; overflow-y: auto;width: 92%;">
                                       
                                        <div v-for="(q, indx1) in searcher_q"  style="border-bottom: 1px solid #DDDDDD; padding: 2px 0 5px 0;height: auto;overflow: hidden;">
                                            <div style="padding: 7px;width: 80%;float: left;">
                                                <b>{{q.id}}: {{q.questions}}</b><br>
                                                <a v-if="q.options == null" type="button" v-on:click="get_option(indx1)" class="show-profile"><i class="fa fa-eye"></i> ver opciones</a>
                                                <ol  type="a"> 
                                                    <li v-for='(op, idx2) in q.options' >  
                                                        <span>
                                                            {{op.enunciate}}
                                                        </span>
                                                    </li>
                                                </ol>
                                            </div>
                                            <div style="float: left;">
                                                <a  v-on:click="add_question(q.id,test.id)" type="button" class="btn btn-success" >
                                                   <i class="fa fa-plus" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                               
                                <hr>
                                <div>
                                    <div v-for="(question, indexQ) in questions" >
                                        <h3>{{indexQ +1}}. {{question.questions}} {{question.type == 2 ?" (Ordenamiento)":""}}</h3>
                                        <ol type="a"> 
                                            <li v-for='(op, indexOP) in question.options' >                                                
                                                <span v-if="question.answer_id == op.id">
                                                    <mark><b>{{op.enunciate}}</b></mark>
                                                </span>
                                                <span v-else >
                                                    {{op.enunciate}}
                                                </span>
                                            </li>
                                        </ol>
                                        <a type="button" v-on:click="delete_question(question.id)" class="show-profile"><i class="fa fa-trash"></i>Eliminar</a>
                                        <hr>
                                    </div>
                                </div>                                 
                            <!--</form>-->
                        </div>
                    </div>                        
                </div>      
            </div>
        </div>
    </div>
</section>
  
    

    
</template>

<script>
   export default {
       props: ["course_id","name_course","area_id"],
       data() {
            return { 
                maxVideo : 100,
                maxDocu : 10,   
                errors : null,
                errorsQ:null, 
                saving:false, 
                searcher:"" , 
                teclaTime:null,      
                levels:[
                ],
                leve_id:-1,
                activity_id:-1,
                activity:{
                    lesson_id:-1 ,
                    name : null,
                    type:1,
                    description :null                    
                },
                acceptVideo:"video/mp4,video/wmv,video/avi,video/*",
                acceptDoc:"image/jpeg,image/png,application/pdf,image/x-eps",
                acceptAudio:"audio/*",
                file:null,
                activity_show:null,
                searcher_q:[],
                searcher_q_tem:[],
                test:{
                    id:-1,
                    trial_numbers:null,
                    lesson_id:-1 ,
                    number_questions:5,
                    description:"",
                    name:"",
                    type:3,
                    porcent_acceptance:80
                },
                question:{                    
                    id:-1,
                    activity_id:-1,
                    questions:"",                   
                    option1:{
                        id:-1,
                        enunciate:""
                    },
                    option2:{
                        id:-1,
                        enunciate:""
                    },
                    option3:{
                        id:-1,
                        enunciate:""
                    },
                    option4:{
                        id:-1,
                        enunciate:""                       
                     },
                },
                questions:[]

                
            }
        },
        mounted() {
           this.get_levels();

        // this.searcher_question()
        },        
        methods: {
            set_error(error = null){
                this.errors = error;
                setTimeout(()=>{
                    this.errors = null
                },8000);
            },
            handleBlur(){
                this.searcher_q_tem = this.searcher_q;
                this.searcher_q = [];
            },
            onclikInput(){
                this.searcher_q = this.searcher_q_tem;
            },
            get_option(index){
                let id = this.searcher_q[index].id;
                axios.get(`/admin/questions/get-option/${id}`,).then(resp => {
                    this.searcher_q[index]["options"] = resp.data.options;
                });
            },
            searcher_question(){
                let data = {searcher:this.searcher, area_id: this.area_id};
                axios.get(`/admin/questions/searcher-question`,{params:data}).then(resp => {
                    let q = resp.data.question;
                    for (const key in q) {
                        q[key].options = null;
                    }
                    this.searcher_q = q;                   
                });
            },
            change_searcher(){
                clearTimeout(this.teclaTime);
                this.teclaTime = setTimeout(() => {
                    this.searcher_question();
                }, 400);
            },
            set_errorQ(error = null){
                this.errorsQ = error;
                setTimeout(()=>{
                    this.errorsQ = null
                },8000);
            },
            delete_question(question_id){
                swal({
                    title: "¿Estás seguro que deseas eliminar la pregunta?",
                    text: "Estos cambios no se puede deshacer!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.post(`/admin/courses/delete-question/${question_id}/${this.test.id}`).then(resp => {
                                this.get_test_questions(this.test.id);
                            });
                        }
                });
            },
            delete_lesson(lesson){
                if(lesson.activities.length > 0){
                    swal("Esta lección tiene actividad(es) asociada, primero elimine las actividades y luego elimine la lección");
                }else{
                    swal({
                        title: "¿Estás seguro que deseas eliminar el lección ?",
                        text: "Estos cambios no se puede deshacer!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                        })
                        .then((willDelete) => {
                            if (willDelete) {
                                axios.post(`/admin/courses/delete-lesson/${lesson.id}`).then(resp => {
                                    this.get_levels();  
                                });
                            }
                    });
                }
            },
            delete_activity(activity_id,lesson_id){

                swal({
                    title: "¿Estás seguro que deseas eliminar la actividad?",
                    text: "Estos cambios no se puede deshacer!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.post(`/admin/courses/delete-activity/${activity_id}/${lesson_id}`).then(resp => {
                                this.get_levels();
                            });
                        }
                });
                
            },
            show_activity(activity){
                this.activity_show = activity;
                if(activity.type != 3)
                    $("#modalShowFile").modal("show");
                else{
                    this.get_test(activity.id, activity.lesson_id)
                }
            },
            set_data_activity(data = {}){
                this.activity ={
                    lesson_id: data.lesson_id == undefined ? -1: data.lesson_id,
                    name : data.name == undefined ? "": data.name,
                    type:data.type == undefined ? 1: data.type,
                    description : data.description == undefined ? "": data.description
                }
                this.file = "";
                document.getElementById("file1").value = "";
            },
            get_activity(activity_id, lesson_id){
                axios.get(`/admin/courses/get-activity/${activity_id}/${lesson_id}`).then(resp => {
                    this.activity_id = activity_id;
                    this.set_data_activity(resp.data.activity);  
                    $("#modalNewFile").modal("show");
                });
            },
             get_test(activity_id, lesson_id){
                axios.get(`/admin/courses/get-activity/${activity_id}/${lesson_id}`).then(resp => {
                    this.test.id = resp.data.activity.id;
                    this.test.trial_numbers = resp.data.activity.trial_numbers;
                    this.test.lesson_id = resp.data.activity.lesson_id; 
                    this.test.number_questions= resp.data.activity.number_questions;
                    this.test.description= resp.data.activity.description;
                    this.test.name = resp.data.activity.name,
                    this.test.type = 3;   
                    this.test.porcent_acceptance = resp.data.activity.porcent_acceptance;      
                    this.get_test_questions(this.test.id);          
                    $("#modalTest").modal("show");
                });
            },
            new_video(lesson_id) {               
                this.activity_id = -1;
                this.set_data_activity({lesson_id:lesson_id, type:1});
                $("#modalNewFile").modal("show");
            },
            new_pdf(lesson_id) {               
                this.activity_id = -1;
                this.set_data_activity({lesson_id:lesson_id, type:2});
                $("#modalNewFile").modal("show");
            },

            show_audio(lesson_id){
                this.activity_id = -1;
                this.set_data_activity({lesson_id:lesson_id, type:4});
                $("#modalNewFile").modal("show");
            },
            save_activity(){
                let formData = new FormData();
                formData.append('lesson_id', this.activity.lesson_id);
                formData.append('name', this.activity.name);
                formData.append('type', this.activity.type);
                formData.append('description', this.activity.description);
                
                if(this.file != null){
                    formData.append('file', this.file);
                }
                this.saving = true;
                axios.post(`/admin/courses/create-activity/${this.activity_id}`,formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }
                ).then(resp => {
                    this.saving = false;
                    if(resp.data.success){
                        this.get_levels();  
                        $("#modalNewFile").modal("hide");                      
                    }else{
                        toastr.error('Error al guardar', 'error');
                    }
                }).catch(error => {
                    this.saving = false;
                    toastr.error('Error al guardar', 'error');
                    if(error.response.status == 422){
                        let errors = error.response.data.errors;
                        let er = [];
                        if(errors != null){
                            for (const key in errors) {
                                let error = errors[key];
                                for (const key2 in error) {
                                    er.push(error[key2]);
                                }
                            }
                        }
                        this.set_error(er);
                    }
                });
            },
            /*set_data_question(data = {}){
                this.question = {                    
                    id:-1,
                    activity_id:-1,
                    questions:"",                   
                    option1:{
                        id:-1,
                        enunciate:""
                    },
                    option2:{
                        id:-1,
                        enunciate:""
                    },
                    option3:{
                        id:-1,
                        enunciate:""
                    },
                    option4:{
                        id:-1,
                        enunciate:""                       
                     },
                }
            },*/
         
            
            get_test_questions(activity_id){
                if(activity_id > 0){
                    axios.get(`/admin/courses/get-test-questions/${activity_id}`,{}).then(resp => {
                        this.questions = resp.data.questions;                    
                    });
                } else {
                    this.questions = [];
                }
            },
            save_test(){               
                this.saving = true;
                let data = {                   
                    trial_numbers:this.test.trial_numbers,
                    lesson_id:this.test.lesson_id ,
                    number_questions:this.test.number_questions,
                    description:this.test.description,
                    name:this.test.name,
                    porcent_acceptance: this.test.porcent_acceptance,
                    type:3
                };
                axios.post(`/admin/courses/create-activity/${this.test.id}`,data).then(resp => {
                    this.saving = false;
                    if(resp.data.success){
                        this.test.id = resp.data.id;
                        toastr.success('Registro guardado', 'exito');                     
                        this.get_test_questions(this.test.id);
                        this.get_levels();                         
                                             
                    }else{
                        toastr.error('Error al guardar', 'error');
                    }
                }).catch(error => {
                    this.saving = false;
                    toastr.error('Error al guardar', 'error');
                    if(error.response.status == 422){
                        let errors = error.response.data.errors;
                        let er = [];
                        if(errors != null){
                            for (const key in errors) {
                                let error = errors[key];
                                for (const key2 in error) {
                                    er.push(error[key2]);
                                }
                            }
                        }
                        this.set_error(er);
                    }
                });
            },
            handleFileUpload(event) {
                let file =  event.target.files[0];
                let size = file.size;
                let mg = (size / 1024) / 1024;
                if(this.type == 1 && mg > this.maxVideo){
                     toastr.error("Tamaño maximo permitido "+this.maxVideo+"MG", 'error');
                     document.getElementById("file1").value = "";
                }else if(this.type == 2 && mg > this.maxDocu){
                     toastr.error("Tamaño maximo permitido "+this.maxDocu+"MG", 'error');
                     document.getElementById("file1").value = "";
                }else{
                    this.file = file;
                }
               
                
                /*var reader = new FileReader()
                var that = this
                reader.readAsDataURL(file)
                reader.onload = function(e) {
                    that.video = this.result;
                }*/

               
            },
            new_leve(){
                $("#modalNewLeves").modal("show");
            },
            new_lesson(leve_id){
                this.leve_id = leve_id;
                $("#modalNewlesson").modal("show");
            },
            create_lesson(){
                $("#modalNewlesson").modal("hide");
                axios.post(`/admin/courses/create-lesson/${this.leve_id}`).then(resp => {
                    if(resp.data.success){
                        this.get_levels();   
                        toastr.success('Registro guardado', 'exito');                     
                    }else{
                        toastr.error('Error al guardar', 'error');
                    }
                })
            },
            show_test(lesson_id, activity_id = -1){
                this.test.lesson_id = lesson_id;
                this.test.activity_id = activity_id;
                this.questions = [];
                //this.set_data_question();
                this.get_test_questions(activity_id);
                this.searcher_q = [];
                $("#modalTest").modal("show");
            },

            
            create_leve(){
                $("#modalNewLeves").modal("hide");
                axios.post(`/admin/courses/create-level/${this.course_id}`).then(resp => {
                    if(resp.data.success){
                        this.get_levels();   
                         toastr.success('Registro guardado', 'exito');                        
                    }else{
                        toastr.error('Error al guardar', 'error');
                    }
                })
            }, 
            add_question(question_id,activity_id){
                
                let data = {
                    "activity_id": activity_id,
                    "question_id":question_id
                }
                axios.post(`/admin/courses/add-question`,data).then(resp => {
                    if(resp.data.success){
                        this.get_levels(); 
                        this.get_test_questions(activity_id);
                        this.handleBlur();  
                                                
                    }else{
                        toastr.error('Error al guardar', 'error');
                    }
                })
            },
            delete_leve(leve){

                if(leve.lessons.length > 0){
                    swal("Este nivel tiene lecciones asociadas, primero elimine las lecciones y luego elimine el nivel");
                }else{
                    swal({
                        title: "¿Estás seguro que deseas eliminar el nivel ?",
                        text: "Estos cambios no se puede deshacer!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                        })
                        .then((willDelete) => {
                            if (willDelete) {
                                axios.post(`/admin/courses/delete-leve/${leve.id}`).then(resp => {
                                    this.get_levels();  
                                });
                            }
                    });
                }

            },
            get_levels () { 
                axios.get(`/admin/courses/get-levels/${this.course_id}`).then(response => {
                 this.levels = response.data.levels
                })
            }, 
            
            
        }
    }
</script>
